{% extends "dces/admin/adminmaster.html" %}
{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
          <h4> Manager Registration </h4>
      </div>
      <div class="card-body">
     <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatinghouse" name="mngrname">
  <label for="floatinghouse">Name</label>
</div>
   <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingad" name="mngraddress">
  <label for="floatinghouse">Address</label>
</div>
   <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingcon" name="mngrcontact">
  <label for="floatinghouse">Contact.no</label>
</div>
     <div class="form-floating mb-3">
    <select class="form-select" aria-label="Default select example" name="mngrdistrict">
  <option selected>District</option>
  <option value="Kasargod">Kasargod</option>
  <option value="Kannur">Kannur</option>
  <option value="Wayanad">Wayanad</option>
  <option value="Kozhikode">Kozhikode</option>
  <option value="Malappuram">Malappuram</option>
  <option value="Palakkad">Palakkad</option>
  <option value="Thrissur">Thrissur</option>
  <option value="Ernankulam">Ernankulam</option>
  <option value="Alappuzha">Alappuzha</option>
  <option value="Idukki">Idukki</option>
  <option value="Pathanamthitta">Pathanamthitta</option>
    <option value="Kollam">Kollam</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Thiruvananthapuram">Thiruvananthapuram</option>

</select>
<label for="floatingDistrict">District</label>
    </div>
     <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingemail" name="mngremail">
  <label for="floatinghouse">Email Address</label>
</div>
          <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatinguser" name="mngrusername">
  <label for="floatinghouse">User Name</label>
</div>
<div class="text-danger">{{ error }}</div>
       <div class="form-floating mb-3">
  <input type="Password" class="form-control" id="floatingpwd" name="mngrpwd">
  <label for="floatinghouse">Password</label>
</div>
    <div class="text-center">
                   <input type="submit" name="Submit" value="REGISTER" class="btn btn-info text-light">
               </div>
</div>
</div>

</form>

{% endblock %}