{% extends "dces/village/vmaster.html" %}
{% block content %}
{% load static %}
{% for f in farm %}
<form method="post" action="/vverifyfarm/{{f.Farmno}}">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <img src="{% static 'media/'%}{{ f.Farmphoto }}" alt="" width="100%" height="250"/><br><br>
            <div class="card">
                {% for user in users %}
                <table class="table table-striped">
                    <tr> <th>Application No</th> <td> {{ user.id }} </td></tr>
                    <tr> <th>Name</th> <td> {{ user.Name }} </td></tr>
                    <tr> <th>Address</th> <td> {{ user.Address }} </td></tr>
                    <tr> <th>Contact No</th> <td> {{ user.Contactno }} </td></tr>
                    <tr> <th>Email</th> <td> {{ user.Email_id }} </td></tr>
                    <tr> <th>Aadhaar No</th> <td> {{ user.Aadhaarno }} </td></tr>
                </table>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="card">
               
                 <table class="table table-striped">
                     <tr> <th>Farm No</th> <td> {{ f.Farmno }} </td></tr>
                     <tr> <th>Area</th> <td> {{ f.Area }} </td></tr>
                     <tr> <th>Animal Name</th> <td> {{ f.Animalname }} </td></tr>
                     <tr> <th>Animal Food</th> <td> {{ f.Animalfood }} </td></tr>
                     <tr> <th>Number of Animal</th> <td> {{ f.Numofanimal }} </td></tr>               
                 </table>
                
            </div>
            <br>
            <br>
            <div class="card p-10">
                {% if f.Status != ''%}
                Status: {{ f.Status }}
                {% endif %}<br>
                {% if h.Reason != ''%}
                Reason:{{ h.Reason }}
                {% endif %}
            </div>
            <div class="check-inline">
                <input type="radio" name="status" value="Verify" id="st1" onclick="selectst();"">Verify
                <input type="radio" name="status" value="Not Verify" id="st2" onclick="selectst();">Not Verify
            </div>
            <br>
             <textarea name="reason" id="reas" class="form-control" placeholder="Reason for Apllication reject" style="visibility: hidden;resize: false;"></textarea>
               <br> <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
</form>
{% endfor %}
<script>
    function selectst()
    {
        if(document.getElementById('st2').checked)
        {
           
            document.getElementById('reas').style.visibility='visible';
        }
        else{
            document.getElementById('reas').style.visibility='hidden';
        }
    }
</script>
{% endblock %}