{% extends "dces/village/vmaster.html" %}
{% block content %}
{% load static %}
{% for h in house %}
<form method="post" action="/vverifyhouse/{{h.Houseno}}">
    {% csrf_token %}

    <div class="row">
        <div class="col">
          <img src="{% static 'media/'%}{{ h.Housephoto }}" alt="" width="100%" height="250"/><br><br>
            <div class="card">
                {% for user in users %}
                <table class="table table-striped">
                    <tr> <th>Application No</th> <td> {{ user.id }} </td></tr>
                    <tr> <th>Name</th> <td> {{ user.Name }} </td></tr>
                    <tr> <th>Address</th> <td> {{ user.Address }} </td></tr>
                    <tr> <th>Contact No</th> <td> {{ user.Contactno }} </td></tr>
                    <tr> <th>Email</th> <td> {{ user.Email_id }} </td></tr>
                    <tr> <th>Aadhaar No</th> <td> {{ user.Aadhaarno }} </td></tr>
                </table>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="card">
              
                 <table class="table table-striped">
                     <tr> <th>House No</th> <td> {{ h.Houseno }} </td></tr>
                     <tr> <th>Area</th> <td> {{ h.Area }} </td></tr>
                     <tr> <th>Floor</th> <td> {{ h.Floor }} </td></tr>
                     <tr> <th>Roof</th> <td> {{ h.Roof }} </td></tr>
                     <tr> <th>Stair Case</th> <td> {{ h.Staircase }} </td></tr>
                     <tr> <th>Depreciation</th> <td> {{ h.Diprecition }} </td></tr>          
                     <tr> <th>Square Feet</th> <td> {{ h.Sqfeet }} </td>  
                 </table>
             
            </div>
            <br>
            <br>
            <div class="card">
                {% if h.Status != ''%}
                    Status: {{ h.Status }}<br>
                {% endif %}
                {% if h.Reason != ''%}
                    Reason:{{ h.Reason }}
                {% endif %}
            </div>
            <div class="check-inline">
                <input type="radio" name="status" value="Verify" id="st1" onclick="selectst();"">Verify
                <input type="radio" name="status" value="Not Verify" id="st2" onclick="selectst();">Not Verify
            </div>
            <br>
             <textarea name="reason" id="reas" class="form-control" placeholder="Reason for Apllication reject" style="visibility: hidden;resize: false;"></textarea>
               <br> <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
</form>
{% endfor %}
<script>
    function selectst()
    {
        if(document.getElementById('st2').checked)
        {
           
            document.getElementById('reas').style.visibility='visible';
        }
        else{
            document.getElementById('reas').style.visibility='hidden';
        }
    }
</script>
{% endblock %}