{% extends "dces/user/usermaster.html" %}
{% block content %}

<form method="post" action="/agriculture/" enctype="multipart/form-data">
    {% csrf_token %}
     <div>
    {% if request.session.USERNAME is not None %}
    <input type="hidden" value="{{ request.session.USERNAME }}" name="huser">
    {% endif %}
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingarea" name="agrarea" placeholder="enter your area">
  <label for="floatingarea">Area</label>
</div>
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingproduct" name="agrproname" placeholder="Enter name of product">
  <label for="floatingproduct">Product name</label>
</div>
    <div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingqty" name="agrquantity" placeholder="Enter the quantity">
  <label for="floatingqty">Quantity</label>
    </div>
    <div class="mb-3">
      <label for="formFileSm" class="form-label">Photo</label>
      <input class="form-control form-control-sm" id="formFileSm" type="file" name="aphoto">
    </div>

<div class="text-center">
                   <input type="submit" name="SUBMIT" value="SUBMIT" class="btn btn-info text-light">
               </div>





</form>

{% endblock %}