{% extends "dces/user/usermaster.html" %}
{% block content %}
{% load static %}
<form method="post" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <div class="card">
                {% for user in users %}
                <table class="table table-striped">
                    <tr> <th>Application No</th> <td> {{ user.id }} </td></tr>
                    <tr> <th>Name</th> <td> {{ user.Name }} </td></tr>
                    <tr> <th>Address</th> <td> {{ user.Address }} </td></tr>
                    <tr> <th>Contact No</th> <td> {{ user.Contactno }} </td></tr>
                    <tr> <th>Email</th> <td> {{ user.Email_id }} </td></tr>
                    <tr> <th>Aadhaar No</th> <td> {{ user.Aadhaarno }} </td></tr>
                </table>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="card">
                {% for h in farm %}
                 <table class="table table-striped">
                    <tr><td colspan="2"><img src="{% static 'media/'%}{{ h.Farmphoto }}" alt="" width="100%" height="250"></td></tr>
                     <tr> <th>Farm No</th> <td> {{ h.Farmno }} </td></tr>
                     <tr> <th>Area</th> <td> {{ h.Area }} </td></tr>
                     <tr> <th>Animal Name</th> <td> {{ h.Animalname }} </td></tr>
                     <tr> <th>Animal Food</th> <td> {{ h.Animalfood }} </td></tr>
                     <tr> <th>No Of Animal </th> <td> {{ h.Numofanimal }} </td></tr>


                 </table>
               
            </div>
              <br>

              <div class="card">
                {% if h.Status is not None %} Status:{{ h.Status }}{% endif %}
            </div>
             {% endfor %}
        </div>
  </form>
{% endblock %}